@media screen and (max-width: 427px) {
  .footer-input {
    width: 290px;
  }
  .modal-window {
    width: 320px;
    padding: 72px 8px 24px 8px;
  }
}
@media screen and (min-width: 428px) {
  .container {
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-menu-list {
    display: flex;
  }
  .header-address-list {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
  .header-logo {
    margin-right: 120px;
  }
  .menu-open-btn {
    display: none;
  }
  .hero {
    height: 436px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    height: 120px;
    max-width: 496px;
    line-height: 1.07;
    margin: 0 auto 36px;
  }
  .features-list {
    gap: 72px 24px;
    justify-content: center;
  }
  .features-item {
    width: calc((100% - 34px) / 2);
  }
  .features-item-title {
    text-align: left;
  }
  .team-list {
    gap: 64px 24px;
  }
  .customers-list {
    gap: 72px 24px;
    justify-content: center;
  }
  .client {
    width: calc((552px - 48px) / 3);
  }
  .footer {
    height: 456px;
    padding: 96px 0;
  }
  .footer-conteiner {
    gap: 72px 24px;
    justify-content: flex-start;
    padding-left: 108px;
  }
  .footer-form {
    gap: 24px;
  }
  .footer-shell {
    /* margin-right: 24px; */
  }
  .footer-logo,
  .social-media,
  .footer-subscribe-content {
    justify-content: flex-start;
  }
  .footer-input {
    width: 264px;
  }
  .modal-window {
    width: 408px;
    padding: 72px 25px 24px 23px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }
  .header-menu-list {
    display: flex;
  }
  .header-address-list {
    display: flex;
    gap: 40px;
  }

  .header-logo {
    margin-right: 76px;
  }
  .menu-open-btn {
    display: none;
  }
  .hero {
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto 48px;
  }
  .features-icon {
    display: flex;
  }
  .features {
    padding: 120px 0;
  }
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .features-item-text {
    font-weight: 400;
  }
  .tasks {
    padding-bottom: 120px;
  }
  .tasks-title {
    display: block;
  }
  .tasks-list {
    display: flex;
  }
  .team {
    padding: 120px 0;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .client {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .footer {
    height: 312px;
    padding: 100px 0;
  }
  .footer-conteiner {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 0;
    align-items: baseline;
  }
  .footer-shell {
    margin-right: 120px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .social-media {
    display: inline-block;
  }
  .footer-subscribe-content {
    display: inline-block;
  }
  .footer-social {
    margin-right: 80px;
  }
  .footer-form {
    gap: 24px;
    height: 312;
    flex-wrap: nowrap;
  }
  .modal-window {
    padding: 72px 24px 24px 24px;
  }
}
