:root {
  --WHITE: #ffffff;
  --IRIS: #4d5ae5;
  --NAVYBLUE: #2e2f42;
  --OCEAN: #404bbf;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--WHITE);
}
img {
  display: block;
  max-width: 100;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;
}
.header > .container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.header-logo-studio {
  color: var(--NAVYBLUE);
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVYBLUE);
  padding: 24px 0;
}

.header-address {
  font-style: normal;
}
.header-address-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}
.hero {
  background-color: var(--NAVYBLUE);
  padding: 188px 0;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  display: block;
  margin: 0 auto 48px;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100%-72px) / 4);
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVYBLUE);
  margin-bottom: 8px;
}
.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}
.tasks {
  padding-bottom: 120px;
}
.tasks-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVYBLUE);
  margin-bottom: 72px;
}
.tasks-list {
  display: flex;
  gap: 24px;
}
.tasks-item {
  width: calc((100%-48px) / 3);
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVYBLUE);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-item-id {
  padding: 32px 0;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVYBLUE);
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  text-align: center;
}
.footer {
  background-color: var(--NAVYBLUE);
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-end {
  color: #f4f4fd;
  display: inline-block;
}
.footer-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: #f4f4fd;
}
.products {
  padding-top: 96px;
  padding-bottom: 120px;
  display: block;
}
.products-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.products-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--IRIS);
  background-color: var(--CLOUD);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.products-button:hover,
.products-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.layout-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVYBLUE);
  margin-bottom: 8px;
}
.layout-index {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}
.layout-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.layout-li {
  width: calc((100% - 48px) / 3);
}
.type {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
